@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-jakarta;
  }
}

.input-reg {
  @apply font-jakarta text-g333 w-full p-3 px-6 rounded-lg border border-gray-300 hover:scale-105 focus:ring-2 focus:outline-none transition duration-200 shadow-sm placeholder-[#B0A9A9] h-14;
}
